@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
/* títulos */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* textos */

@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
/* 1o letra do parágrafo */

@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
/* títulos destaque */

:root {
    --cor0: #FEFEFE;
    --cor1: #785D23;
    --cor2: #261600;
    --cor3: #382300;
    --cor4: #150F00;
    --cor5: #6C5115;
}

body {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header div.cabecalho {
    width: 100%;
    background-color: var(--cor5);
    box-shadow: 0 2px 4px #261600;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    width: 11rem;
    margin: 0;
}

nav.menu-principal ul.lista-menu-principal {
    list-style-type: none;
}

nav.menu-principal ul.lista-menu-principal li {
    display: inline;
}

nav.menu-principal ul.lista-menu-principal li a {
    color: var(--cor0);
    padding: .4rem .4rem;
    text-decoration: none;
    border-radius: .5rem;
    font-weight: 300;
    transition: all 0.3s ease;
}

nav.menu-principal ul.lista-menu-principal li a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
    transform: scale(1.05);
    box-shadow: 0 4px 8px #0000004d;
    border-radius: .4rem;
}

nav.menu-principal ul.lista-menu-principal li a:active {
    border: 2px solid var(--cor4);
    border-radius: .5rem;
}

nav.menu-principal ul.lista-menu-principal li a.active {
    border-bottom: 2px solid var(--cor4);
}

main#principal {
    background-image: url(../img/kasarao-k-opaco.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main#principal div.corpo img {
    width: 1.9rem;
}

main#principal div.corpo p {
    text-indent: .5rem;
    text-align: justify;
    font-size: 1.2rem;
}

main#principal div.corpo p::first-letter {
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--cor3);
    font-size: 2rem;
}

main div.corpo p#paragrafo-destaque {
    color: var(--cor1);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

main div.corpo p#paragrafo-destaque img {
    width: 3rem;
}

/******** PÁGINA "DESTILANDO MOMENTOS" - INÍCIO ********/
main#principal-galeria {
    background-image: url(../img/fundo-opaco.png);
}

main#principal-galeria section#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.3rem;
    padding: 1rem;
    border-bottom: 2px solid var(--cor4);
}

main#principal-galeria section#galeria figure.item-galeria {
    position: relative;
    margin: 0;
    overflow: hidden;
    /* Corta a imagem quando ela cresce */
    border-radius: 8px;
}

main section#galeria figure.item-galeria img {
    width: 100%;
    display: block;
    box-shadow: 0 2px 6px var(--cor2);
    transition: transform .6s ease;
}

main#principal-galeria section#galeria figure.item-galeria figcaption {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    /*** Gradiente elegante ***/
    color: white;
    /*** Estado Inicial: Escondido abaixo ***/
    opacity: 0;
    transform: translateY(100%);
    transition: transform .4s ease-out, opacity .4s ease;
    /*****/
}

main#principal-galeria section#galeria figure.item-galeria:hover img {
    transform: scale(1.1);
    /* Aumenta a foto */
}

main section#galeria figure.item-galeria:hover figcaption {
    opacity: 1;
    /*** Revela a legenda ***/
    transform: translateY(0);
    /*** Desliza para a posição original ***/
}

main section#galeria-videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.3rem;
    padding: 1rem;
}

main#principal-galeria section#galeria-videos video.item-galeria-videos {
    border: 4px solid transparent;
    border-radius: 12px;
    background:
        linear-gradient(white, white) padding-box,
        /* Fundo interno */
        linear-gradient(45deg, var(--cor3), var(--cor2)) border-box;
    /* Gradiente na borda */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

main#principal-galeria section#galeria-videos video.item-galeria-videos:hover {
   background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, var(--cor5), var(--cor1)) border-box;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/******** PÁGINA "DESTILANDO MOMENTOS" - FIM ********/

#rodape {
    width: 98%;
    background-color: var(--cor2);
    color: var(--cor0);
    margin: 0 auto;
    text-align: center;
    padding: .4rem .4rem;
}

/****** TIPOGRAFIA ******/
h2 {
    color: var(--cor4);
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h2#titulo-momentos {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
    color: var(--cor4);
    padding-left: .5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}